








<mat-grid-list cols="1" rowHeight="2:1">
  <!-- <mat-grid-tile *ngFor="let post of diccionario| slice:1; let i = index">-->
  <mat-grid-tile >
  <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Datos acerca</mat-card-title>
       
      </mat-card-header>
      
      <mat-card-content>
        <p>
          correo: hector.potes00@usc.edu.co
          <br>
          este es una aplicacion web donde se quiere hacer publico las ubicaciones de las empresas, estas se les registra su informacion como<br>
          nombre de empresa, telefono, direccion, latitud y longitud. Esto se hace publico y se pueda acceder de forma facil a la informacion de la empresas de donaciones.
        </p>
      </mat-card-content>
      <mat-card-actions>
        
        <button mat-button color='primary' routerLink='/dashboard'>Ir al dashboard</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

    
</mat-grid-list>
